<div class="h-full flex">
  <form
    class="flex-1 flex flex-col gap-8 p-24 overflow-auto"
    [formGroup]="createModelForm"
    (ngSubmit)="submit()"
  >
    <app-back-button>Models</app-back-button>
    <div class="flex justify-between items-center gap-8 mb-12 flex-wrap">
      <app-editable-heading
        [formGroup]="createModelForm"
        [error]="duplicateModelName ? 'Name of the model already exists' : ''"
      ></app-editable-heading>
      <div>
        <app-button [style]="'save'" [type]="'submit'"></app-button>
      </div>
    </div>
    @for (stringKeyFieldForm of
    createModelForm.controls.stringKeyFields.controls; track stringKeyFieldForm;
    let index = $index) {
    <app-key-field
      type="String"
      [formGroup]="stringKeyFieldForm"
      (delete)="createModelForm.controls.stringKeyFields.removeAt(index); triggerValidation()"
      (input)="triggerValidation()"
    ></app-key-field>
    } @for (integerKeyFieldForm of
    createModelForm.controls.integerKeyFields.controls; track
    integerKeyFieldForm; let index = $index) {
    <app-key-field
      type="Integer"
      [formGroup]="integerKeyFieldForm"
      (delete)="createModelForm.controls.integerKeyFields.removeAt(index); triggerValidation()"
      (input)="triggerValidation()"
    ></app-key-field>
    }
  </form>
  <app-fields [formGroup]="createModelForm"></app-fields>
</div>
